body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}


body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
}

code {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


